<div id='navLinks'>
  @Html.ActionLink("Add a new Engineer", "Create", "Engineers")
  <br>
  @Html.ActionLink("View all Engineers", "Index", "Engineers")
  <br>
  @Html.ActionLink("Add a new Machine", "Create", "Machines")
  <br>
  @Html.ActionLink("View all Machines", "Index", "Machines")  
  <br>
  @Html.ActionLink("Back home", "Index", "Home")
</div>